.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
header {
  display: flex;
  justify-content: space-evenly;
  width: 20vh;
  margin-bottom: 1rem;
}
header button {
  border-radius: 50%;
}
footer {
  display: flex;
  margin-top: 1rem;
  width: 30vh;
  justify-content: space-evenly;
}
input[type="text"] input[type="password"] {
  width: 20vw;
}
